#
# OpenVPN Client Config
#

client
proto udp
dev tun

remote 172.20.1.10 1194

ca ca.crt
cert vpnclient.crt
key vpnclient.key
tls-auth ta.key 1

cipher AES-256-CBC

tls-client
remote-cert-tls server

auth-nocache

keepalive 10 120
comp-lzo

persist-key
persist-tun

resolv-retry infinite

nobind

verb 0
mute 20
